<div class="row">
  <div class="col">
    <h4>Device Statistics</h4>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <app-memory-graph
      [deviceCode]="deviceCode"
      measurement="memory"
      field="used"
      label="Used Memory"
    ></app-memory-graph>
  </div>
  <div class="col">
    <app-memory-graph
      [deviceCode]="deviceCode"
      measurement="memory"
      field="free"
      label="Free Memory"
    ></app-memory-graph>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <app-cpu-graph
      [deviceCode]="deviceCode"
      measurement="cpu"
      field="user"
      label="CPU (user) usage"
    ></app-cpu-graph>
  </div>
  <div class="col">
    <app-cpu-graph
      [deviceCode]="deviceCode"
      measurement="cpu"
      field="system"
      label="CPU (system) usage"
    ></app-cpu-graph>
  </div>
</div>
