<div class="container pt-5">
  <div class="row">
    <div class="col">
      <h3>Create device</h3>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="card mt-4 p-3 col-6">
      <form [formGroup]="createDeviceForm" (ngSubmit)="createDevice()">
        <div class="mb-3">
          <label for="deviceNameInput" class="form-label">Device name</label>
          <input
            type="text"
            name="deviceName"
            id="deviceNameInput"
            placeholder="Device name"
            class="form-control form-control-lg"
            formControlName="deviceName"
            required
            [class.is-valid]="
              !deviceName?.invalid && (deviceName?.dirty || deviceName?.touched)
            "
            [class.is-invalid]="
              deviceName?.invalid && (deviceName?.dirty || deviceName?.touched)
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="deviceName?.errors?.['required']"
          >
            Name is required.
          </div>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <div class="d-grid">
          <button
            type="submit"
            [disabled]="!createDeviceForm.valid"
            class="btn btn-primary btn-lg"
          >
            Create device
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row justify-content-md-center" *ngIf="newDeviceResponse !== null">
    <div class="col-6 mt-3 p-3 card">
      <h4>New device "{{ newDeviceResponse.device.name }}" has been created!</h4>

      <p>
        To start capturing device statistics, please run:
      </p>
      <p>
        Cargo:
        <code>
          cargo run -- --host http://localhost:8086/ --device
          {{ newDeviceResponse.device.code }} --token
          {{ newDeviceResponse.token }}
        </code>
      </p>
      <p>
        Windows:
        <code>
          .\stats-client.exe --host http://localhost:8086/ --device
          {{ newDeviceResponse.device.code }} --token
          {{ newDeviceResponse.token }}
        </code>
      </p>
      <p>
        Linux:
        <code>
          ./stats-client --host http://localhost:8086/ --device
          {{ newDeviceResponse.device.code }} --token
          {{ newDeviceResponse.token }}
        </code>
      </p>
    </div>
  </div>
</div>
