
$cr-color-active: #135ef2;
$cr-color-primary: #0d378c;
$cr-color-dark-primary: #0f2757;
$cr-color-dark-background: #3e588c;
$cr-color-light-background: #cadbf1;
$cr-color-light-background-2: #eef3f6;
$cr-color-black: #333;
$cr-color-light-gray: #bbb;
$cr-color-white: #fff;
