#map {
    position: relative;
}

#map .post-index-select {
    position: absolute;
}

#LV-10 { top: 167px; left: 255px;}
#LV-20 { top: 170px; left: 225px;}
#LV-21 { top: 165px; left: 290px;}
#LV-30 { top: 220px; left: 220px;}
#LV-31 { top: 170px; left: 170px;}
#LV-32 { top: 120px; left: 140px;}
#LV-33 { top: 180px; left: 75px;}
#LV-34 { top: 225px; left: 35px;}
#LV-36 { top: 110px; left: 70px;}
#LV-37 { top: 230px; left: 170px;}
#LV-38 { top: 220px; left: 120px;}
#LV-39 { top: 240px; left: 275px;}
#LV-40 { top: 80px; left: 295px;}
#LV-41 { top: 130px; left: 355px;}
#LV-42 { top: 60px; left: 345px;}
#LV-43 { top: 100px; left: 480px;}
#LV-44 { top: 130px; left: 450px;}
#LV-45 { top: 150px; left: 520px;}
#LV-46 { top: 230px; left: 505px;}
#LV-47 { top: 75px; left: 400px;}
#LV-48 { top: 190px; left: 430px;}
#LV-50 { top: 195px; left: 315px;}
#LV-51 { top: 235px; left: 350px;}
#LV-52 { top: 255px; left: 390px;}
#LV-53 { top: 265px; left: 455px;}
#LV-54 { top: 325px; left: 450px;}
#LV-56 { top: 310px; left: 525px;}
#LV-57 { top: 240px; left: 560px;}