<div id="map">
    <img src="assets/images/Latvia_map.png" alt="Latvia map" usemap="#countrymap" width="600" height="400" />
    <input class="post-index-select form-check-input" type="checkbox" id="LV-10" value="10" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-20" value="20" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-21" value="21" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-30" value="30" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-31" value="31" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-32" value="32" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-33" value="33" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-34" value="34" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-36" value="36" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-37" value="37" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-38" value="38" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-39" value="39" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-40" value="40" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-41" value="41" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-42" value="42" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-43" value="43" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-44" value="44" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-45" value="45" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-46" value="46" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-47" value="47" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-48" value="48" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-50" value="50" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-51" value="51" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-52" value="52" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-53" value="53" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-54" value="54" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-56" value="56" (click)="refreshPage('')" >
    <input class="post-index-select form-check-input" type="checkbox" id="LV-57" value="57" (click)="refreshPage('')" >
</div>