<div class="container pt-5">
  <form [formGroup]="companySetCreateForm" (submit)="addCompanyToSet()">
    <strong>Create a new set</strong>
    <div class="mb-3">
      <label for="nameInput" class="form-label">Name</label>
      <input type="text" name="name" id="nameInput" class="form-control form-control-lg" [class.is-valid]="!name?.invalid && (name?.dirty || name?.touched)"
        [class.is-invalid]="name?.invalid && (name?.dirty || name?.touched)" formControlName="name" />
      <div class="invalid-feedback" *ngIf="name?.errors?.['required']">
        Name is required.
      </div>
      <div class="invalid-feedback" *ngIf="name?.errors?.['minlength']">
        Name must be at least 3 characters long.
      </div>
      <div class="invalid-feedback" *ngIf="name?.errors?.['maxlength']">
        Name must be at most 40 characters long.
      </div>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div *ngIf="!!successMessage" class="alert alert-success d-flex align-items-center mb-2" role="alert">
      {{ successMessage }}
    </div>

    <div class="d-grid">
      <button type="submit" [disabled]="!companySetCreateForm.valid" class="btn btn-primary btn-lg">
        Create
      </button>
    </div>
  </form>
  <ng-container *ngIf="companySets$ | async; let companySets">
    <ng-template [ngIf]="!isLoading">
      <div class="row mb-3 mt-3">
        <div class="col">
          <strong>Total</strong> {{ companySets.totalElements }} companies
        </div>
      </div>

      <div class="row mb-3" *ngFor="let company of companySets.content">
        <div class="col">
          <app-company-set-row [companySet]="company" (deletedCompanySet)="refreshPage()"></app-company-set-row>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.active]="query.page === page" [class.click]="query.page !== page" *ngFor="
                  let num of numSequence(companySets.totalPages);
                  let page = index
                ">
                <a class="page-link" (click)="updatePage(page)">{{ page + 1 }}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-template [ngIf]="isLoading">
    <div class="d-flex justify-content-center mt-5">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </ng-template>
</div>