<div class="container pt-5">
  <div class="row">
    <div class="col">
      <h3>Devices</h3>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <input
        type="text"
        name="deviceName"
        id="deviceNameInput"
        placeholder="Search query"
        class="form-control form-control-lg"
        [(ngModel)]="query.search"
        (ngModelChange)="onSearch()"
      />
    </div>
  </div>


  <ng-container *ngIf="devices$ | async; let devices">
    <div class="d-flex mb-3 mt-3 justify-content-between">
      <div><strong>Total</strong> {{ devices.totalElements }} devices</div>
      <div>
        <button
          [routerLink]="['/devices/create']"
          class="btn btn-outline-primary btn-lg"
        >
          Create device
        </button>
      </div>
    </div>

    <div class="row mb-3" *ngFor="let device of devices.content">
      <div class="col">
        <app-card [active]="true" [routerLink]="[device.code]">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <div>
                <i class="bi bi-pc"></i>
              </div>
              <div class="ms-3 pt-4">
                <div class="name-font">{{ device.name }}</div>
                <div class="secondary-font">Code #{{ device.code }}</div>
              </div>
            </div>
            <div class="d-flex align-items-center">
              User count: {{ device.userCount }}
            </div>
          </div>
        </app-card>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li
              class="page-item"
              [class.active]="query.page === page"
              [class.click]="query.page !== page"
              *ngFor="
                let num of numSequence(devices.totalPages);
                let page = index
              "
            >
              <a class="page-link" (click)="updatePage(page)">{{
                page + 1
              }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </ng-container>
</div>
