<div class="container pt-5">
  <ng-container *ngIf="company$ | async; let company">
    <div class="row">
      <div class="col">
        <h2>{{ company.name }}</h2>
      </div>
    </div>

    <form [formGroup]="companySetForm" (submit)="addCompanyToSet()">
      <div class="col-md-3 mb-3">
        <label for="setInput" class="form-label">Company Set</label>
        <select id="setInput" class="form-select form-select-lg" aria-label="Select company set" formControlName="setId">
          <option *ngFor="let companySet of sets$ | async" [value]="companySet.setId">
            {{ companySet.setId + " " + companySet.name }}
          </option>
        </select>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <div *ngIf="!!successMessage" class="alert alert-success d-flex align-items-center mb-2" role="alert">
        {{ successMessage }}
      </div>

      <div class="d-grid">
        <button type="submit" [disabled]="!companySetForm.valid" class="btn btn-primary btn-lg">
          Add this company to selected set
        </button>
      </div>
    </form>

    <div class="row mt-3">
      <div class="col-md-6">
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Registration Code</div>
              {{ company.regcode }}
            </div>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Registration Date</div>
              {{ company.registeredDate | date }}
            </div>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Address</div>
              LV-{{ company.postalIndex }}, {{ company.address }}
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Sepa</div>
              {{ company.sepa }}
            </div>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Terminated Date</div>
              {{ (company.terminatedDate | date) || "-" }}
            </div>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">Company Type</div>
              {{ company.companyType }}
            </div>
          </li>
        </ul>
      </div>
    </div>

    <ng-container *ngIf="company.financialStatements.length > 0">
      <div class="row mt-4">
        <div class="col">
          <h3>Financial Statements</h3>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <app-financial-statements [financialStatements]="company.financialStatements"></app-financial-statements>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
