<div class="container pt-5">
  <div class="row" *ngIf="user$ | async; let user">
    <div class="col">
      <h3>Hello, {{ user.name }} {{ user.surname }}!</h3>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-3">
      <select
        class="form-select form-select-lg"
        aria-label="Select company type"
        [(ngModel)]="query.companyType"
        (ngModelChange)="onSearch()"
      >
        <option value="ALL">All</option>
        <option
          *ngFor="let companyType of companyTypes$ | async"
          [value]="companyType.code"
        >
          {{ companyType.text || companyType.code }}
        </option>
      </select>
    </div>

    <div class="col-md-9">
      <input
        type="text"
        name="deviceName"
        id="deviceNameInput"
        placeholder="Search query"
        class="form-control form-control-lg"
        [(ngModel)]="query.search"
        (ngModelChange)="onSearch()"
      />
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-4">
      <div>
        <strong>Employee count</strong>
      </div>
      <div class="d-flex pt-2">
        <div class="input-group">
          <span class="input-group-text" id="fromEmployeeCount">From</span>
          <input
            type="number"
            class="form-control"
            id="inputEmployeeCountFrom"
            aria-describedby="fromEmployeeCount"
            [(ngModel)]="query.employeeFrom"
            (ngModelChange)="onSearch()"
          />
        </div>
        <div class="input-group ms-2">
          <span class="input-group-text" id="toEmployeeCount">To</span>
          <input
            type="number"
            class="form-control"
            id="inputEmployeeCountTo"
            aria-describedby="toEmployeeCount"
            [(ngModel)]="query.employeeTo"
            (ngModelChange)="onSearch()"
          />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <strong>Income</strong>
      </div>
      <div class="d-flex pt-2">
        <div class="input-group">
          <span class="input-group-text" id="fromIncomeCount">From</span>
          <input
            type="number"
            class="form-control"
            id="inputIncomeCountFrom"
            aria-describedby="fromIncomeCount"
            [(ngModel)]="query.incomeFrom"
            (ngModelChange)="onSearch()"
          />
        </div>
        <div class="input-group ms-2">
          <span class="input-group-text" id="toIncomeCount">To</span>
          <input
            type="number"
            class="form-control"
            id="inputIncomeCountTo"
            aria-describedby="toIncomeCount"
            [(ngModel)]="query.incomeTo"
            (ngModelChange)="onSearch()"
          />
        </div>
      </div>
    </div>

    <div class="col-md-2 pt-24">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          [(ngModel)]="query.activeCompanies"
          (ngModelChange)="onSearch()"
          id="activeCompaniesSwitch"
        />
        <label class="form-check-label" for="activeCompaniesSwitch">
          Active companies
        </label>
      </div>
    </div>

    <div class="col-md-2 pt-24">
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          [(ngModel)]="query.hasStats"
          (ngModelChange)="onSearch()"
          id="hasStatsSwitch"
        />
        <label class="form-check-label" for="hasStatsSwitch">
          Has Stats
        </label>
      </div>
    </div>
  </div>

  <ng-container *ngIf="companies$ | async; let companies">
    <ng-template [ngIf]="!isLoading">
      <div class="row mb-3 mt-3">
        <div class="col">
          <strong>Total</strong> {{ companies.totalElements }} companies
        </div>
      </div>

      <div class="row mb-3" *ngFor="let company of companies.content">
        <div class="col">
          <app-company-row [company]="company"></app-company-row>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li
                class="page-item"
                [class.active]="query.page === page"
                [class.click]="query.page !== page"
                *ngFor="
                  let num of numSequence(companies.totalPages);
                  let page = index
                "
              >
                <a class="page-link" (click)="updatePage(page)">{{ page + 1 }}</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-template [ngIf]="isLoading">
    <div class="d-flex justify-content-center mt-5">
      <div class="spinner-border text-success" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  </ng-template>
</div>
