.pt-25 {
  padding-top: 0.75rem;
}

.click {
  cursor: pointer;
}

.col.active:hover {
  background-color: #cadbf1;
}

.bi-pc {
  font-size: 64px;
}

.bi-shop {
  font-size: 32px;
}

.name-font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  /* Dark Primary */

  color: #0f2757;
}

.secondary-font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */

  /* Black */

  color: #333333;
}
