
.name-font {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  /* Dark Primary */

  color: #0f2757;
}

.bi {
  font-size: 32px;
}